@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f0f3f4;
  }
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #f0f3f4;
}
.sidebar {
  width: 100%;
  background-color: powderblue;
  color: black;
}
.sidebar .profile img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #f0f3f4;
}
.sidebar h1 {
  font-size: 14px;
  margin: 10px 0px;
  text-align: center;
}
.sidebar .contact-info,
.sidebar .skills {
  margin-top: 20px;
  text-align: center;
}
.sidebar h2 {
  background-color: #9ebcc0;
  font-size: 14px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-align: center;
}
.sidebar a,
a:link {
  color: #868c8c;
  font-size: 12px;
  text-decoration: none;
  padding: 5px;
  transition: 0.3s ease-in;
}
.sidebar a:visited {
  color: rgb(85, 26, 139);
}
.sidebar a:hover {
  color: rgb(255, 102, 0);
  text-decoration: underline;
}
.sidebar a:active {
  color: rgb(255, 0, 0);
}
.sidebar a:focus {
  border: 1px solid black;
}
.content {
  text-align: center;
  width: 100%;
  color: black;
}
.content h2 {
  background-color: #9ebcc0;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.content h3 {
  margin-top: 15px;
}
footer {
  font-size: 8px;
  background-color: #9ebcc0;
  text-align: center;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
